
html{
    scroll-behavior: smooth;
}
.underline{
    height: 03px;
    width: 7rem;
    background-color:rgb(247, 9, 9);
    margin-top: 10px;
    margin-bottom: 10px;
}

.card img{
    width: 100%px;
    height: 14rem;
   border-radius: 1%;
   
}
.card-body a{
    text-decoration: none;
    color: rgb(209, 3, 3);
}
.card-body a:hover{
    color: rgb(0, 0, 0);
}
.card-body{
    height: 100px;
}
.me{
    text-align: center;
    margin-bottom:50px;
    
}
/* nav{
margin: 10px;
} */
/* .me h3,h4{
    margin: 20px;
    color: rgb(29, 18, 126);
} */









.skill p{
    margin: 5px;
    padding: auto;
}
.contact{
    background-color: azure;
   
}
/* .contact h4,h5,h6,p{
    margin: 10px;
    padding: auto;
    text-align: center;
    color: rgb(29, 18, 126);
} */
/* }
@media (min-width:300px) and (max-width:800px){
    .card{
        display: block;
        background-color: rgb(200, 217, 219);
        margin: auto;
        padding: auto;
        margin-bottom: 20px;

    }
    
}
@media (min-width:768px){
    .card{
        display: block;

        background-color: rgb(225, 230, 235);

        background-color:rgb(225, 230, 235);

        margin-bottom: 30px;
        
    }
} */
.footer{
    background-color: rgb(29, 29, 32);
    
}
.footer p{
    color: white;

}
.footer p a{
    text-decoration: none;
    color: white;
}
